<div class="container">
    <form class="form-auth" (ngSubmit)="register()">
        <h2 class="form-auth-heading">Sign up Today!</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control"
               placeholder="username" required="" autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control"
               placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>

